@media(min-width: 768px) {
    ion-router-outlet {
        margin-top: 60px;
    }
}

@media(max-width: 768px) {
    ion-router-outlet {
        margin-top: 50px;
    }
}

.active-item {
    color: var(--ion-color-primary);
    font-weight: 500;

    ion-icon {
        color: var(--ion-color-primary);
    }
}