.hero {
    background-image: url('https://images.unsplash.com/photo-1442512595331-e89e73853f31');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;
}